<%= form_for(@president) do |f| %>
  <% if @president.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@president.errors.count, "error") %> prohibited this president from being saved:</h2>

      <ul>
      <% @president.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
