<div id="footer" class="footer">
<p>This site is made available under a <a href="http://creativecommons.org/about/cc0" target="_blank">CC0 license</a>. Items featured on this site may carry their own restrictions, please check with the item owners before using.<br>
Contact <a href="mailto:presidentialcollections@virginia.edu?Subject=Question%20About%20CPC%20Site">presidentialcollections@virginia.edu</a> with any questions. <strong>Follow us on Twitter <a href="https://twitter.com/pres_collection" target="_blank">@pres_collection</a>!</strong><br>
</p>
<div>
