<h1>About the Project</h1>

<figure class="main-image">
<a href="<%= image_path("imls-poster.png") %>" target="_blank"><%= image_tag("imls-poster.png", :size => "280x185", :id => "imls-poster", :alt => "") %></a>
<figcaption><a href="<%= image_path("imls-poster.png") %>" target="_blank">View larger image →</a></figcaption>
</figure>

<p>Based at the U.Va. Miller Center, Connecting Presidential Collections is an IMLS-funded grant project that provides a centralized resource to search for presidential materials. </p>

<p>Thanks to a planning grant from the IMLS and advice from our Steering Committee of archivists, librarians, and digital humanities scholars, Connecting Presidential Collections works with partner organizations to create a centralized resource for users. Currently, there are large amounts of presidential materials that are spread throughout many different libraries, museums, and sites. This makes it challenging for users to find them.</p>

<p>Connecting Presidential Collections seeks to solve this problem by aggregating metadata from the partner collections, using Solr as the search index and Blacklight as the user interface, to deliver the results in a user-friendly manner. We seek to make life easier for users and to bring light to these great presidential collections.</p>
<p><a href="http://presidentialconnections.wordpress.com/">Read more</a> about the creation of Connecting Presidential Collections on the development blog. </p>

<h2 id="terms">Terms of Use</h2>
<p>This site is a federation of presidential materials from a variety of partner organizations across the United States. A record's presence here does not indicate that it is in the public domain. Consult partner records for official copyright status. Connecting Presidential Collections is an open-source research project, available to all.

<h2 id="citationstyles">Citation Styles</h2>
<p>Examples:</p>

<div id="citation-examples">
	<h3>APA</h3>
	<p>Author, A. (date). Title of document [Format description]. Retrieved from http://xxxxxxxxx</p>
	
	<h3>MLA</h3>
	<p>Editor, author, or compiler name (if available). <em>Name of Site</em>. Version number. Name of institution/organization affiliated with the site (sponsor or publisher), date of resource creation (if available). Medium of publication. Date of access. &lt;http://xxxxxxxxx&gt;.</p>
	
	<h3>Wikipedia</h3>
	<p>{{cite web |url=http://xxxxxxxxx |title=Title of Document |publisher=Publisher Name |accessdate=DD month YYYY}}</p>
</div>

<h2 id="api">API</h2>
<p>Information in this database is free and open source. Use our API to refer to the data on your own site. (To come.)</p>
<p><a href="http://presidentialcollections.org/">← Return to home</a></p>

