<h1>About CPC</h1>

<figure class="partner-logo"><a href="http://imls.gov" target="_blank"><img src="/assets/imls-logo.png"></a> <br>
	<a href="http://millercenter.org" target="_blank"><img src="/assets/mc-logo.png"></a></figure>

<p>Connecting Presidential Collections (CPC) is a free centralized site for searching across presidential collections. The project is funded by the <a href="http://www.imls.gov/" target="_blank">Institute of Museum and Library Services</a> (IMLS) and housed at the University of Virginia&rsquo;s <a href="http://millercenter.org/">Miller Center</a>. </p>
<p>The CPC project sets out to solve two problems: </p>
<ul>
		<li>Currently, presidential materials are spread far and wide (geographically, technologically, and otherwise). This means researchers and learners must consult a large number and variety of resources if they are to have any hope of conducting comprehensive research, with no &quot;map&quot; to guide their way. </li>
		<li>Presidential sites and libraries are often isolated and on their own to publicize their wonderful materials and make them easily available online. In the age of internet research, it's increasingly difficult to be a small fish in a gigantic  pond.</li>
</ul>
<p>The CPC project seeks to remedy these  challenges by  providing a centralized website where researchers and learners can search across presidential collections. Once a visitor has found what they're looking for using the CPC search, they are then directed to the partner's website to view the chosen item(s), thus directing web traffic back to the partner's original records and elevating visibility of these essential collections. The site uses a Solr index and a Blacklight user interface.</p>
<p><a href="http://presidentialcollections.wordpress.com/" target="_blank">Read more about the CPC project on our blog</a> and follow us on Twitter <a href="https://twitter.com/pres_collection" target="_blank">@pres_collection</a>!</p>

<p>The <a href="http://millercenter.org" target="_blank">Miller Center</a> is a nonpartisan affiliate of the University of Virginia that specializes in the presidency, political history, and public policy. The Miller Center is committed to work grounded in rigorous scholarship and advanced through civil discourse.</p>
<p>The mission of <a href="http://imls.gov" target="_blank">IMLS</a> is to inspire libraries and museums to advance innovation, lifelong learning, and cultural and civic engagement. They provide leadership through research, policy development, and grant making.</p>
<h3 id="terms">Terms of Use</h3>
<p>This site is a federation of presidential materials from a variety of partner organizations across the United States. A record's presence here does not indicate that it is in the public domain. Consult partner records for official copyright status. Connecting Presidential Collections is an open-source research project, available to all. We make our code available under a CC0 license in our github repository: <a href="https://github.com/miller-center">https://github.com/miller-center</a></p>

<h2>Frequently Asked Questions</h2>
<ul>
		<li><a href="#what-is"><strong>What is CPC?</strong></a></li>
		<li><strong><a href="#how-work">How does CPC work?</a></strong><a href="how-work"></a></li>
		<li><strong><a href="become-partner">Can my organization submit a collection and become a partner?</a></strong></li>
		<li><strong><a href="#cpc-content">Where does the CPC content come from?</a></strong><a href="cpc-content"> </a></li>
		<li><strong><a href="#current-partners">Who are your current partners?</a></strong></li>
		<li><strong><a href="#how-cite">Can I use this in my research?</a></strong><a href="#how-cite"> </a></li>
		<li><strong><a href="#add-collection">I have presidential stuff. Can I add it here? </a></strong></li>
		<li><strong><a href="#specific-question">I have a specific question about an item on this site. </a></strong></li>
		<li><strong><a href="#github">Can I use your code? </a></strong></li>
		<li><strong><a href="#learn-more">How can I learn more? </a></strong></li>
</ul>
<p id="what-is" class="question"><strong>What is CPC?</strong></p>
<p>Connecting Presidential Collections is a website that collaborates with partners to create a place for users to search across presidential collections. Partners submit descriptive information about their presidential materials, and the CPC website brings together that metadata into one convenient research site, presidentialcollections.org.</p>
<p>The CPC website is one part of a broader grant project funded by the <a href="http://www.imls.gov/" target="_blank">Institute of Museum and Library Services</a> (IMLS) and the University of Virginia&rsquo;s <a href="http://millercenter.org/">Miller Center</a>.
The project has four parts: </p>
<ol>
		<li>The CPC website, which combines descriptive information from presidential collections so researchers and learners have easy centralized access;</li>
		<li>A catalog of presidential collections that will be used to help map out the location of collections and identify partner organizations; </li>
		<li> Educational materials to help empower partners and potential partners; </li>
		<li>A microfilm project to extract item-level metadata from select sets of presidential papers. </li>
</ol>
		
		<p><a href="http://presidentialcollections.wordpress.com/" target="_blank">Read more about the project on our blog</a> and follow us on Twitter <a href="https://twitter.com/pres_collection" target="_blank">@pres_collection</a>!</p>
<p id="how-work" class="question"><strong>How does CPC work?</strong><strong> </strong></p>
<p>CPC works by partnering with sites, libraries, and museums that have collections focused on the U.S. presidents. The partners send us descriptive information about their collections, known as metadata. This information usually includes title, author, description, date, and a URL for each item in a collection. We then upload that metadata to give users one website to search across all the partner collections. Users can view search results and then click through to the partner website to see the digital items. </p>
<p>CPC seeks to serve two purposes: 1. Facilitate access to presidential content so researchers and learners can find it in one easy location, and 2. Direct researchers and learners to our partners&rsquo; wonderful content. </p>

<p id="become-partner" class="question"><strong>Can my organization submit a collection and become a partner?</strong><strong> </strong></p>
<p>Yes! If you work with an organization that houses a collection related to the presidency, <a href="mailto:presidentialcollections@virginia.edu?Subject=Becoming%20CPC%20Partner">contact us</a>! We will schedule a time to receive data about your collection, fold that data into the site, and begin directing researchers to your site through the CPC search interface. </p>
<p>There are a few factors that help make a collection appropriate for CPC: First, it needs to relate, however loosely, to the presidency. Second, we need a way to receive digital information (&ldquo;metadata&rdquo;) about that collection. We can receive it in any number of ways [click here to learn more] and the metadata can be in any format. Not sure if you&rsquo;d be a good fit? Not to worry! Get in touch with us—we&rsquo;d love to start the conversation. </p>
<p>If you work with a project that is relevant but not yet ready to participate, please <a href="https://docs.google.com/forms/d/1xVMbBZUJd46MWKB0rION7zc8zhaTaKK3gSIhGLy-REw/formResponse" target="_blank">join our email list to receive updates</a>. We are also working on creating and disseminating materials and resources to enable organizations to participate. We&rsquo;d love to keep you updated—we&rsquo;re here to help! </p>
<p class="lead text-center"><em>Want to be a partner? It&rsquo;s easy! <a href="mailto:presidentialcollections@virginia.edu?Subject=Becoming%20CPC%20Partner">Contact us</a> so we can start the conversation. We'll eventually need an export from your data system with basic pieces of information about the content (more robust = better!). Don&rsquo;t have a data system? Never fear! We&rsquo;re developing resources to help organizations like yours. <a href="http://presidentialcollections.wordpress.com/2014/05/22/educational-materials-to-empower-partners-and-potential-partners/">Read more about the educational materials here. </a></em></p>

<p id="cpc-content" class="question"><strong>Where does the CPC content come from?</strong><strong> </strong></p>
<p>It comes from our wonderful partners! CPC is an aggregator, which means it makes data from different sources searchable in one centralized place. Every item that you find on CPC comes from a partner organization. If you click through for more information about an object, you&rsquo;ll find yourself on a partner&rsquo;s website—that&rsquo;s because one of our goals is to elevate the visibility of these partner organizations and their collections. </p>
<p>Metadata found on presidentialcollections.org is made available with a <a href="http://creativecommons.org/choose/zero/">CC0 license</a>. Items featured on this site may carry their own restrictions, please check with the item owners before using. Please consult the partner for more information and <a href="mailto:presidentialcollections@virginia.edu?Subject=Question%20About%20CPC%20Site">contact us</a> if you believe an error has been made. </p>

<p id="current-partners" class="question"><strong>Who are your current partners?</strong></p>
<p>We&rsquo;re gradually adding partners as we build the CPC site. <a href="http://presidentialcollections.org/partners">Read more about our partners here.</a></p>

<p id="how-cite" class="question"><strong>Can I use this in my research?</strong><strong> </strong></p>
<p>Absolutely! Here are some examples of citations you might use: </p>
<blockquote>
	<dl>
	<dt><p><strong>APA</strong></p></dt>
	<dd><p>Author, A. (date). Title of document [Format description]. Retrieved from http://xxxxxxxxx</p></dd>
	<dt><p><strong>MLA</strong></p></dt>
	<dd><p>Editor, author, or compiler name (if available). <em>Name of Site</em>. Version number. Name of institution/organization affiliated with the site (sponsor or publisher), date of resource creation (if available). Medium of publication. Date of access. &lt;http://xxxxxxxxx&gt;.</p></dd>
	<dt><p><strong>Wikipedia</strong></p></dt>
	<dd><p>{{cite web |url=http://xxxxxxxxx |title=Title of Document |publisher=Publisher Name |accessdate=DD month YYYY}}</p></dd>
	</dl>
</blockquote>
<p id="add-collection" class="question"><strong>I have presidential stuff. Can I add it here? </strong><strong> </strong></p>
<p>At this time we only accept information about collections that are held by organizations. If you are an organization, you should [contact us]! If you are an individual, we can help you find an organization that you might be able to work through to include the material in CPC. </p>

<p id="specific-question" class="question"><strong>I have a specific question about an item on this site. </strong><strong> </strong></p>
<p>If you don&rsquo;t find what you&rsquo;re looking for in the FAQ, you should <a href="mailto:presidentialcollections@virginia.edu?Subject=Question About CPC Site">contact us</a>. We&rsquo;re here to help. </p>

<p id="github" class="question"><strong>Can I use your code? </strong><strong> </strong></p>
<p>Yes! We make our code available under a CC0 license in our github repository: <a href="https://github.com/miller-center">https://github.com/miller-center</a></p>

<p id="learn-more" class="question"><strong>How can I learn more? </strong><strong> </strong></p>
<p>We have lots of ways for you to be involved and informed! You can: </p>
<ol>
		<li><a href="https://docs.google.com/forms/d/1xVMbBZUJd46MWKB0rION7zc8zhaTaKK3gSIhGLy-REw/formResponse" target="_blank">Join our email list</a></li>
		<li>Follow us on Twitter <a href="https://twitter.com/pres_collection" target="_blank">@pres_collection</a>,</li>
		<li>Check out our blog at <a href="http://presidentialcollections.wordpress.com/" target="_blank">http://presidentialcollections.wordpress.com/</a>, </li>
		<li>Access our code through GitHub at <a href="https://github.com/miller-center">https://github.com/miller-center</a></li>
</ol>

<p><a href="http://presidentialcollections.org/">← Return to home</a></p>

