<style>
	figure {float:right; margin: 12px 0 13px 25px;}
	h3 {clear:both;}
</style>

<h1>Educational Resources from CPC</h1>

<p>Connecting Presidential Collections offers two types of educational resources: digital development resources for libraries and museums, and teaching resources for educators. Click through to whichever interests you!</p>

<h3><a href="http://archive.millercenter.org/cpc/education/digital-development-resources" target="_blank">Digital Development Resources</a></h3>

<figure><a href="http://archive.millercenter.org/cpc/education/digital-development-resources"><img src="/assets/digital-dev.jpg"></a></figure>

<p>The Connecting Presidential Collections project relentlessly supports advancing digital resources in organizations of all sizes and abilities. But that’s not so easy! So we put together some resources to help you take the next step. Includes information about communicating on the web, building effective metadata, and why digital development matters. <a href="http://archive.millercenter.org/cpc/education/digital-development-resources" class="more" target="_blank">MORE →</a></p>

<h3><a href="http://archive.millercenter.org/cpc/education/classroom" target="_blank">Classroom Resources</a></h3>

<figure><a href="http://archive.millercenter.org/cpc/education/classroom"><img src="/assets/classroom.jpg"></a></figure>

<p>With the help of Kathryn Cramer Brownell of Purdue University, we’ve put together some lesson plans that utilize CPC’s primary-source material. Topics include the Great Depression, National Security, The Television Presidency, and The Presidency in Crisis. <a href="http://archive.millercenter.org/cpc/education/classroom" class="more" target="_blank">MORE →</a></p>

