<style>
  
figure {float:right;}

blockquote, div.tweet {font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; line-height: 25px;}

</style>
<h1>Help us spread the word about Connecting Presidential Collections!</h1>
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
<p>We&#39;ve done the hard work&mdash;now we need to expand our audience! Help us spread the word about CPC using the resources below.</p>

<h2>What makes CPC unique?</h2>
<!--<div class="tweet">
<p>CPC is a free, grant-funded site for searching across hundreds of presidential collections. presidentialcollections.org <a class="twitter-share-button" data-size="large" href="http://twitter.com/intent/tweet?text=TEXT+HERE&amp;url=http%3A%2F%2Fpresidentialcollections.org%2F">intent</a></p>
</div>-->
<div class="container">
  <div class="tweet one col-md-6">
  <p>CPC holds collections from Washington through Obama &amp; beyond. Visit presidentialcollections.org! <a class="twitter-share-button" data-size="large" href="http://twitter.com/intent/tweet?text=CPC holds collections from Washington through Obama and beyond. Visit &amp;url=http%3A%2F%2Fpresidentialcollections.org!">intent</a></p>
  </div>

  <div class="tweet two col-md-6">
  <p>We&rsquo;re building a digital community around presidential collections. Join today! presidentialcollections.org <a class="twitter-share-button" data-size="large" href="http://twitter.com/intent/tweet?text=We’re building a digital community around presidential collections. Join today! &amp;url=http%3A%2F%2Fpresidentialcollections.org%2F">intent</a></p>
  </div>

  <div class="col-sm-12">
  <h2>For researchers and learners:</h2>
  </div>

  <div class="tweet three col-md-6">
  <p>Interested in presidential history? Check out the only place to search across presidential archives: presidentialcollections.org <a class="twitter-share-button" data-size="large" href="http://twitter.com/intent/tweet?text=Interested in presidential history%3F Check out the only place to search across presidential archives:&amp;url=http%3A%2F%2Fpresidentialcollections.org%2F">intent</a></p>
  </div>

  <div class="col-sm-12">
  <h2>For libraries and museums:</h2>
  </div>

  <div class="tweet four col-md-6">
  <p>Libraries and museums: We can help expand your audience! Partnership is free. presidentialcollections.org <a class="twitter-share-button" data-size="large" href="http://twitter.com/intent/tweet?text=Libraries and museums: We can help expand your audience! Partnership is free.&amp;url=http%3A%2F%2Fpresidentialcollections.org%2F">intent</a></p>
  </div>

  <div class="tweet five col-md-6">
  <p>Find your audience&mdash;be a partner on CPC! All presidential collection-holders welcome. presidentialcollections.org<a class="twitter-share-button" data-size="large" href="http://twitter.com/intent/tweet?text=Find your audience—be a partner on CPC! All presidential collection-holders welcome. &amp;url=http%3A%2F%2Fpresidentialcollections.org%2F">intent</a></p>
  </div>
</div>
<h2>Are you already a CPC partner?</h2>

<p>Use the language below to tell your visitors you&rsquo;re a part of this exciting project!</p>

<div class="already-partner">&nbsp;
<blockquote>Our collection is part of Connecting Presidential Collections: a project that provides users one place to search across presidential materials. Click through to <a href="http://presidentialcollections.org/">http://presidentialcollections.org/</a> to browse more than 280,000 items!</blockquote>
</div>

<h2>What is CPC?</h2>

<figure><iframe allowfullscreen="" frameborder="0" height="225" src="https://www.youtube.com/embed/n5Rfj3oS7bQ" width="400"></iframe></figure>

<p>Connecting Presidential Collections (presidentialcollections.org) is a website that collaborates with partners to make it easier to search and discover digital presidential collections online.</p>

<p>At it&rsquo;s core, CPC is an aggregator that brings together information about dispersed presidential collections. We have two main goals:</p>

<ol>
  <li>Make it easier for researchers and learners to find presidential materials.</li>
  <li>Raise the profile of our partner organizations by bringing to light on their sometimes-hidden collections.</li>
</ol>

<p>CPC only works because of partners like you! Partnership is free, contact us to learn more.</p>

<h2>How does it work?</h2>

<p>A partner will send us metadata about their collections, and we make that metadata searchable through presidentialcollections.org.</p>

<p>A partner may provide all or some of their collections to be added to CPC, and that partner can choose which collections and which pieces of metadata to provide. They then export the metadata from their computer system and provide the information to CPC. We can work with a wide variety of formats and are happy to receive data in whatever format is easiest for you to export.</p>

<p>Once we receive that metadata, we fold it into the CPC index, thus making it searchable. The Presidential Collections site uses software called Solr to index data and Blacklight to display that data in a usable way.</p>

<p>The most important piece of metadata for each record is the URL. The URL is what lets the user click through to the partner&rsquo;s website for more information. It also is an important way that we make sure a visitor knows the partner is in fact the holder of the collection.</p>

<aside>
<p><strong>Did you know?</strong> The National Archives (NARA) presidential library system only officially covers modern presidents since Hoover. Prior to this period there is no official system. In fact, there are more than 70 libraries dedicated to Lincoln alone!</p>

<p>We&#39;re working to connect these resources in the name of making them more discoverable to learners of all kinds.</p>
</aside>

<p>CPC equally serves 2 very important goals:</p>

<ol>
  <li>The first goal is to make it easier for researchers and learners to find presidential materials. Once someone knows an item exists&mdash;even if it&rsquo;s not fully available online&mdash;they know who holds the item and thus where to go for more information about it. The world of presidential materials is geographically, thematically, and technologically disparate. The CPC hub simply gives visitors a clear place to start.</li>
  <li>Our second goal is to raise the profile of our partner organizations by shedding light on their sometimes-hidden collections. We make sure that every record is labeled with the organization&rsquo;s name, and every record has a link to the original item on our partner&rsquo;s website so that a visitor can learn more.</li>
</ol>

<p>As time goes on, the CPC website will be able to serve as a central hub for all kinds of presidential research.</p>

<p>We are firm believers in open data and open source principles. CPC is built on open source software and all of the code is available for free through Github.</p>

<p>Here&rsquo;s the thing:</p>

<p>CPC doesn&rsquo;t work without partners. We need organizations who house presidential collections to be a part of the project! The process is free, and we do much of the legwork. We&#39;d love to hear from you! Visit <strong><a href="http://presidentialcollections.org">presidentialcollections.org</a></strong> or <strong><a href="mailto:presidentialcollections@virginia.edu?Subject=Connecting%20Presidential%20Collections">contact us</a></strong> to learn more!</p>
