%h1 Connecting Presidential Collections

%p(id="main-message")
	Connecting Presidential Collections ("CPC") is a free centralized site to store and search information about presidential collections.
	%span(class="more")
		=link_to("Read more →", "about")
