%h1 Connecting Presidential Collections

%p(id="main-message")
	Connecting Presidential Collections (CPC) is a free centralized site for searching across presidential collections. It is funded by <a href="http://imls.gov" target="_blank">the IMLS</a> and <a href="http://millercenter.org" target="_blank">U.Va.'s Miller Center</a>.
