%h1 Connect Presidential Collections

%blockquote
	Based at the U.Va. Miller Center, Connecting Presidential Collections is an IMLS-funded beta project that provides one centralized place to search for presidential materials.
	%span(class="more")
		=link_to("Read more", "about")
