<li class="more_like_this_document">
  <span class="mlt_title"><%= link_to_document document, :label=>document_show_link_field(document) %></span>
  <% if document.id %>
    <% length = 170 %>
    <% if document["title_display"] %>
      <% length -= document["title_display"].to_s.length  %>
    <% else %>
      <% length -= document["id"].to_s.length  %>
    <% end %>
    <% if length > 1 %>
      <span class="mlt_description"><%= document["description"].join('; ').truncate(length) %></span>
    <% end %>
  <% end %>
</li>