<li class="more_like_this_document">
  <span class="mlt_title"><%= link_to_document document, :label=>document_show_link_field(document) %></span>
  <% if ! document["description"].nil? %>
    <span class="mlt_description"><%= description_excerpt document %></span>
  <% end %>
</li>
