//update variables here, e.g.
//$navbar-default-bg: #A9DBEC;
//$body-bg: #96C2D1;
//$font-family-base: 'Transat';
$logo_image: 'cpc-logo.png' !default;
$mc-blue: #345482;
$footer-height: 65px;

@import 'bootstrap';

@import 'blacklight/blacklight';
// customize styling here
#header-navbar {
  .navbar-brand {  /* The main logo image for the Blacklight instance */
    height: 160px;
    width: 290px;
}
  background-color: $mc-blue;
}

/* Standard "more" styling */
.more {	text-transform: uppercase; font-size: 80%;}


/*The aside is created as an entity separate from the #secondary-message so we can have more than one block in the aside if we want to. The main-message might go there, for instance.*/

aside#home-aside {float:right;}

aside#home-aside #secondary-message {
	margin: 25px 0 25px 10px; 
	padding: 10px; 
	background: #edf2f7;
	-webkit-border-radius: $border-radius-large; 
	-moz-border-radius: $border-radius-large;
	border-radius: $border-radius-large}

.featured .featured-president, .featured .featured-partner {padding: 5px;}

h3#partners {clear:left;}

#funding {
	padding-bottom: $footer-height;
}

#footer {
	background-color: $mc-blue;
	color: white;
}
