//update variables here, e.g.
//$navbar-default-bg: #A9DBEC;
//$body-bg: #96C2D1;
//$font-family-base: 'Transat';
$logo_image: 'cpc-logo.png' !default;
$logo_image-lg: 'cpc-logo.png';
$logo_image-md: 'cpc-logo-md.png';
$logo_image-sm: 'cpc-logo-sm.png';
$mc-blue: #345482;
$footer-height: 4em;
$header-navbar-height-lg: 10em;
$header-navbar-height-sm: 5em;
$navbar-brand-scale-lg: 80.00%;

@import 'bootstrap';

@import 'blacklight/blacklight';
// customize styling here
@media (min-width: 1200px) {
  .topbarlogo {
    font-size:123%;
  }
  input#q {
    width: 60em !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  input#q {
    width: 30em !important;
  }
}
#header-navbar > .container {
  background-color: $mc-blue;
}
#header-navbar {
  background-color: $mc-blue;
  margin-bottom: 0;
  .navbar-brand {  /* The main logo image for the Blacklight instance */
    height: $header-navbar-height-lg;
    width: 290px;
    position:absolute;
    background:transparent image_url($logo_image) no-repeat top left;
    background-size: $navbar-brand-scale-lg;
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding-right:0;
    margin-right:20px;
    padding-left: 0;
  }
}

// Bootstrap rendering thresholds
// @media(max-width:767px){}
// @media(min-width:768px){}
// @media(min-width:992px){}
// @media(min-width:1200px){}
#header-navbar {
  @media screen and (max-width:767px) {
    height: $header-navbar-height-sm;
    border-bottom-width: 0px;
  }
  @media screen and (min-width:768px) {
    height: $header-navbar-height-lg;
  }
  .navbar-brand {
    @media screen and (max-width:767px) {
      background:transparent image_url($logo_image-sm) no-repeat top left;
      background-size: 4.0em;
      height: 4em;
        }
    }
    .form-control { height: 2.8em;}
  .input-group-btn > button { height: 2.8em;}
}

.cpc-search-sm {
  @media screen and (max-width: 767px) {
    display: block;
    background-color: $mc-blue;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border:none;
    div.container > div.navbar-header > form > div.input-group { 
      padding-left:1em;
    }
    .form-control { 
      height: 2.8em;
    }
    .input-group-btn > button { 
      height: 2.8em;
    }
  }
  @media screen and (min-width: 768px) {
    display: block;
    margin-top: 1.5em !important;
    .container > .navbar-header {
      width: 100% !important;
      form.search-query-form {
        width: 100% !important;
        div.input-group {
          width:100%;
          input#q {
            width: 50em;
          }
          span#field-menu {
            width:5em;
          }
          span#search-button {
            width:7em;
          }
          span#more-options {
            float:right;
          }
        }
      }
    }
  }
}
.cpc-search-md {
    // to-do
}
.cpc-search-lg {
  position:relative;
  float:left;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.navbar-search-form {
  padding-top: 2em;
}
.btn-more {
  color: rgb(51,51,51);
  background-color: rgb(192,192,192);
}

/* Advanced Search Pages */
ul.blacklight-advanced-facet-select {
  li {
    span.facet-checkbox  { float:left; }
    span.label-and-count { padding-left: 1em; }
  }
}

/* Standard "more" styling */
.more {  text-transform: uppercase; font-size: 80%;}


/*The aside is created as an entity separate from the #secondary-message so we can have more than one block in the aside if we want to. The main-message might go there, for instance.*/

aside#home-aside {float:right;}

aside#home-aside #secondary-message, aside#home-aside #survey {
  margin: 25px 0 25px 10px; 
  padding: 10px; 
  background: #edf2f7;
  -webkit-border-radius: $border-radius-large; 
  -moz-border-radius: $border-radius-large;
  border-radius: $border-radius-large}

.featured .featured-president, .featured .featured-partner {padding: 5px;}

h3#partners {clear:left; margin-top: 25px;}

#funding {
  padding-bottom: $footer-height;
}

#footer {
  background-color: $mc-blue;
  color: white;
  * {
    background-color: $mc-blue;
  }
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -$footer-height; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: $footer-height; /* .push must be the same height as .footer */
  text-align:center;
}
.bookmark_show {
  float:right;
  width:12%;
  padding-left: 0.5em;
}

.question {margin-top: 25px;}

.partner-description {
  min-height: 12em;
  img.partner-logo {
    float:right;
    text-align: center;
    height: auto;
    width: auto;
    min-width: 12em;
    max-height: 10em;
    max-width: 16em;
    margin: 0 0 0.5em 0.5em;
  }
  img.partner-logo.square {
    height: 9em;
    width: 9em;
    min-width: 9em;
  }
  img.square.bigger {
    min-width: 11em;
    min-height: 11em;
  }
}

.featured-note {float: right;}

#footer {color: #eee;}
#footer a {color: #bbb;}
#footer-highlight, #footer-highlight a {color: #c96f27; font-weight: bold;}

/*This is so we can have show titles as h1s but without being quite so large.*/
h1.show-title-display {font-size: 30px;}

/* for error pages */
.apology {background-color: lighten(#000, 75%);}
.portrait {border-radius: 4px; border:thick solid black;width: 20em;height: 20em;}

.pivot-values:before {
  font-family: 'Glyphicons Halflings';
}
.pivot-values {
  display: table-cell;
  font-family: inherit;  /* essential for enabling glyphicon */
  float: left;        /* adjust as needed */
  color: grey;         /* adjust as needed */ 
  font-size: 0.6em;
  position:relative;
  width: 0;
  left: -1.5em;
}
.pivot-values-invisible {
  color: white;
}

.pivot-facet a.remove { 
  position:relative;
  left: 30%;
}
/* ensure collapsable menu flows properly */
#user-util-collapse {
  float: left;
  width: 110%;
  margin-top: 2em;
  margin-right:0;
}
@media screen and (max-width:767px) {
  #search-navbar {
    margin-top: 0px;
    clear:left;
    float:left;
    width:100%;
  }
}
.more-options-glyphicon {
  color: $mc-blue;
}

/* formatting for Partners section of landing page */
#partners-container {
  background: #edf2f7;
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

.thumbnail_container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom:20px;
  background-color: black;
}

.thumbnail {
  position:absolute;
  width:100%;
  height:100%;
}
.thumbnail img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: red;
}

img{
  max-height:100%;
  max-width:100%;
}

// used on publicity.html
div.tweet {
  width: 42%; 
  float:left; 
  margin-right: 1%; 
  margin-bottom: 25px;
  font-size: 14px; 
  box-shadow: 0 0 15px #BFE0EC; 
  padding: 15px 25px 35px 25px; 
  border: 1px solid #ccc;
  background-repeat: no-repeat;
  background-position: bottom;
}
  
div.tweet:hover {
  box-shadow: 0 0 25px 3px #ccc;
  transition: all 100ms ease-out;}

div.tweet iframe {display:block; float:right; margin-top: 15px;}

div.tweet.one {
  background-image: url(asset_path('cpc/whitehouse-sm.jpg'));
  }
  
div.tweet.two {
  background-image: url(asset_path('cpc/blocks-sm.png'));
  }
  
div.tweet.three {
  background-image: url(asset_path('cpc/hayes-sm.jpg'));
  }
  
div.tweet.four {
  background-image: url(asset_path('cpc/microphone-sm.jpg'));
  } 

div.tweet.five {
  background-image: url(asset_path('cpc/crowd-sm.jpg'));
  }
