// CPC custom stylesheet
@import 'bootstrap';
@import 'variables';

@import 'blacklight/blacklight';
// customize styling here
@media screen and (min-width: ($x-large-min-width + px)) {
  .topbarlogo {
    font-size:123%;
  }
  input#q {
    width: 60em !important;
  }
}
@media screen and (min-width: $medium-min-width + px) and (max-width: 999px) {
  input#q {
    width: 30em !important;
  }
}
#header-navbar > .container {
  background-color: $mc-blue;
}
#header-navbar {
  background-color: $mc-blue;
  margin-bottom: 0;
  .navbar-brand {  /* The main logo image for the Blacklight instance */
    height: $header-navbar-height-lg;
    width: 290px;
    position:absolute;
    background:transparent image_url($logo_image) no-repeat top left;
    background-size: $navbar-brand-scale-lg;
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding-right:0;
    margin-right:20px;
    padding-left: 0;
  }
}

// Bootstrap rendering thresholds
// @media(max-width:767px){}
// @media(min-width:768px){}
// @media(min-width:992px){}
// @media(min-width:1200px){}
#header-navbar {
  @media screen and (max-width:($medium-min-width - 1)+ px) {
    height: $header-navbar-height-sm;
    border-bottom-width: 0px;
  }
  @media screen and (min-width:($medium-min-width + px)) {
    height: $header-navbar-height-lg;
  }
  .navbar-brand {
    @media screen and (max-width:($medium-min-width - 1) + px) {
      background:transparent image_url($logo_image-sm) no-repeat top left;
      background-size: 4.0em;
      height: 4em;
        }
    }
    .form-control { height: 2.8em;}
  .input-group-btn > button { height: 2.8em;}
}

.cpc-search-sm {
  @media screen and (max-width: ($medium-min-width - 1 ) + px) {
    display: block;
    background-color: $mc-blue;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border:none;
    div.container > div.navbar-header > form > div.input-group { 
      padding-left:1em;
    }
    .form-control { 
      height: 2.8em;
    }
    .input-group-btn > button { 
      height: 2.8em;
    }
  }
  @media screen and (min-width: $medium-min-width + px) {
    display: block;
    margin-top: 1.5em !important;
    .container > .navbar-header {
      width: 100% !important;
      form.search-query-form {
        width: 100% !important;
        div.input-group {
          width:100%;
          input#q {
            width: 50em;
          }
          span#field-menu {
            width:5em;
          }
          span#search-button {
            width:7em;
          }
          span#more-options {
            float:right;
          }
        }
      }
    }
  }
}
.cpc-search-md {
    // to-do
}
.cpc-search-lg {
  position:relative;
  float:left;
  @media screen and (max-width: ($medium-min-width - 1) + px) {
    display: none;
  }
  @media screen and (min-width: $medium-min-width + px) {
    display: block;
  }
}
.navbar-search-form {
  padding-top: 2em;
}
.btn-more {
  color: rgb(51,51,51);
  background-color: rgb(192,192,192);
}

/* Advanced Search Pages */
ul.blacklight-advanced-facet-select {
  li {
    span.facet-checkbox  { float:left; }
    span.label-and-count { padding-left: 1em; }
  }
}

/* Standard "more" styling */
.more {  text-transform: uppercase; font-size: 80%;}


/*The aside is created as an entity separate from the #secondary-message so we can have more than one block in the aside if we want to. The main-message might go there, for instance.*/

aside#home-aside {float:right;}

aside#home-aside #secondary-message, aside#home-aside #survey {
  margin: 25px 0 25px 10px; 
  padding: 10px; 
  background: #edf2f7;
  -webkit-border-radius: $border-radius-large; 
  -moz-border-radius: $border-radius-large;
  border-radius: $border-radius-large}

h3#partners {clear:left; margin-top: 25px;}

#funding {
  padding-bottom: $footer-height;
}

#footer {
  background-color: $mc-blue;
  color: white;
  * {
    background-color: $mc-blue;
  }
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -$footer-height; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: $footer-height; /* .push must be the same height as .footer */
  text-align:center;
}
.bookmark_show {
  float:right;
  width:12%;
  padding-left: 0.5em;
}

.question {margin-top: 25px;}
.partner-logo {float:right; text-align: center;}

#footer {color: #eee;}
#footer a {color: #bbb;}
#footer-highlight, #footer-highlight a {color: #c96f27; font-weight: bold;}

/*This is so we can have show titles as h1s but without being quite so large.*/
h1.show-title-display {font-size: 30px;}

/* for error pages */
.apology {background-color: lighten(#000, 75%);}
.portrait {border-radius: 4px; border:thick solid black;width: 20em;height: 20em;}

.pivot-values:before {
  font-family: 'Glyphicons Halflings';
}
.pivot-values {
  display: table-cell;
  font-family: inherit;  /* essential for enabling glyphicon */
  float: left;        /* adjust as needed */
  color: grey;         /* adjust as needed */ 
  font-size: 0.6em;
  position:relative;
  width: 0;
  left: -1.5em;
}
.pivot-values-invisible {
  color: white;
}

.pivot-facet a.remove { 
  position:relative;
  left: 30%;
}
/* ensure collapsable menu flows properly */
#user-util-collapse {
  float: left;
  width: 110%;
  margin-top: 2em;
  margin-right:0;
}
@media screen and (max-width: ($medium-min-width - 1 ) + px) {
  #search-navbar {
    margin-top: 0px;
    clear:left;
    float:left;
    width:100%;
  }
}