/* get global CSS variables */
@import 'variables';

/* Browse By President styles ('featured items') */
$featured-item-link-pad: 35%;
$featured-item-link-color: #337ab7;


.featured .featured-president, .featured .featured-partner {padding: 5px;}
.featured-note {float: right;}
img.featured-item {

}
.fp-conceal {
  border:thin solid white;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  .featured-president-data {
    position: absolute; 
    visibility: hidden; 
    color: #EFEFEF;
    transition: visibility 0s ease-in;
  }
  span.fp-browse-link {
    display:none;
    visibility: hidden; 
    opacity: 0%;
    transition: visibility 0s ease-in;
    transition: opacity 0s ease-in;
    transition-delay: 2s;
  }
}
.fp-conceal:hover, .fp-hovering {
  border:thin solid black;
  .featured-president-data {
    padding: 0.5em;
    position:absolute;
    visibility:visible;
    // color: $featured-item-link-color;
    -webkit-transition-duration: 2s;
    transition-duration: 2s; 
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    font-size: 90%;
  }
  img.featured-item {
    width: inherit;
    height: inherit;
  }
  span.fp-browse-link {
    display:inline-block;
    width: 30%;
    position:absolute;
    right:0.5em;
    top:1em;
    visibility: visible;
    opacity: 100%;
  }
}
.fp-top, .fp-bottom, .fp-left, .fp-right {
  position:relative;
  width:  50%;
  height: 50%;
  background-color: white;
} 
.fp-top:hover, .fp-bottom:hover, .fp-left:hover, .fp-right:hover, .fp-hovering {
  clear:both;
  float:none;
  position:absolute;
  z-index: 2;
}
.fp-top:hover {
  img.featured-item {
    position:absolute;
    top: 0;
  }
  .featured-president-data {
    position:absolute !important;
    bottom:0 !important;
  }
}
.fp-bottom:hover {
  img.featured-item {
    position:absolute;
    bottom: 0;
  }
  .featured-president-data {
    position:absolute !important;
    top:0 !important;
  }
}
.fp-right:hover {
  img.featured-item {
    position:absolute;
    right: 0;
    margin-right:5px;
  }
}
.fp-left:hover {
  img.featured-item {
    margin-left: 5px;
  }
}
.fp-top {
  top:0;
}
.fp-bottom {
  bottom:0;
}
.fp-left {
  left:0;
  float:left;
}
.fp-right {
  right: 0px;
  float:right;
}
/* Retina screen styling */
@media screen
  and (min-device-width: ($x-large-min-width + px)) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
  .featured-president-group {
    max-height: 250px;
    overflow-y:hidden;
  }
}
/* Other large desk/laptop screens */
@media screen
  and (min-device-width: ($large-min-width + px))
  and (min-width: ($large-min-width + px)) 
  and (-webkit-min-device-pixel-ratio: 1) {
   .featured-president-group {
    max-height: 250px;
    overflow-y:hidden;
  }   
}  

.featured-president-pane.fp-left, .featured-president-pane.fp-right, .featured-president-pane.fp-top, .featured-president-pane.fp-bottom {
  a {
    img.featured-item {
      margin: 5px;
    }
  }
  // glyphicons-eye-open add-on
  span.fp-nav {
    display:block;
    position:absolute;
    z-index: -1;
    font-size:larger;
  }
}
.featured-president-pane.fp-top {
  // glyphicons-eye-open add-on
  span.fp-nav {
    top: 30%;
  }
  .featured-president-data {
    position:absolute;
    bottom:0;
  }
}
.featured-president-pane.fp-bottom {
  a {
    bottom: 0 !important;
    img.featured-item {
      position:absolute;
      bottom: 0 !important;
      margin-bottom: 0 !important;
    }
  }
  // glyphicons-eye-open add-on
  span.fp-nav {
    top: 70%;
  }
  .featured-president-data {
    position:absolute;
    top:0;
  }
}
.featured-president-pane.fp-left {
  a {
    img.featured-item {
      padding-right: $featured-item-link-pad;
    }
  }
  // glyphicons-eye-open add-on
  span.fp-nav {
    right: 15%;
  }
}
.featured-president-pane.fp-right {
  // float:none !important;
  // clear:both !important;
  a {
    right:0;
    img.featured-item {
      position: absolute;
      margin-right: 5px;
      padding-left: $featured-item-link-pad;
      right:0;
    }
  }
  // glyphicons-eye-open add-on
  span.fp-nav {
    left: 15%;
  }
}
.fp-zoom {
  color:#EFEFEF;
  background-color: black;
  opacity:0;
  // top: 0;
  // right: 0;
  position:absolute;
  transition-delay: 0.5s;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.fp-zoom:hover, .fp-hovering {
  height: 100% !important;
  width: 100% !important;
  background-color: #EFEEEF !important;
  color:$featured-item-link-color;
  opacity:100 !important;
}
.featured-president-data {
  font-size: 90%;
  padding: 0.5em;
}
.featured-president-data, .fp-nav {
  color: $featured-item-link-color;
  -webkit-transition-duration: .75s;
  transition-duration: .75s; 
  -webkit-transition-delay: 2s;
  transition-delay: 1.5s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  opacity: 0;
}
.featured-president-pane:hover, .fp-hovering {
  .featured-president-data, .fp-nav {
    opacity: 100;
  }
}
/* Retina screen styling */
@media screen
  and (min-device-width: ($x-large-min-width + px)) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
  .featured-president-pane.fp-zoom {
    img {
      height: 60% !important;
    }
    .featured-president-data {
      font-size:75%;
    }
  }
}
/* Other large desk/laptop screens */
@media screen
  and (min-device-width: ($large-min-width + px)) 
  and (-webkit-min-device-pixel-ratio: 1) {
  .featured-president-pane.fp-zoom {
    img {
      height: 64% !important;
    }
    .featured-president-data {
      font-size:80%;
    }
  }
}
/* Medium screens, non-Retina */
@media screen
  and (min-width: ($medium-min-width + px))
  and (max-width: ($large-min-width + px))
  and (-webkit-min-device-pixel-ratio: 1) {
  .featured-president-pane.fp-zoom {
    img {
      height: 70% !important;
    }
    .featured-president-data {
      font-size:100%;
    }
  }
  .featured.row {
    height:100%;
  }
  .featured-note {
  }
  .featured-president-pane.fp-zoom, .featured-president {
    min-height: none;
    height: 50%;
  }
  .featured-president-group {
    min-height: none;
    height: 100%;
    width:50%;
    float:right;
  }
  .featured-president-group:nth-child(1) {
    clear:both;
    float:left;
  }
  .featured-president-group:nth-child(3) {
    clear:both;
    float:left;
  }
  .col-md-4 {
    border-color: yellow !important;
  }
}
