// variables for media queries
$x-large-min-width: 1200;
$large-min-width: 1000;
$medium-min-width: 768;

// color and layout vars
$logo_image: 'cpc-logo.png' !default;
$logo_image-lg: 'cpc-logo.png';
$logo_image-md: 'cpc-logo-md.png';
$logo_image-sm: 'cpc-logo-sm.png';
$mc-blue: #345482;
$footer-height: 4em;
$header-navbar-height-lg: 10em;
$header-navbar-height-sm: 5em;
$navbar-brand-scale-lg: 80.00%;